<div class="row">
    <div class="col-12">
        <form [formGroup]="personForm" (ngSubmit)="onAddOrUpdatePerson()" novalidate>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName" formControlName="firstName">
                </div>
                <div class="col-12 form-group">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName" formControlName="lastName">
                </div>
                <div class="col-12 form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter Email">
                </div>
                <div class="col-12 form-group">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" placeholder="Enter Phone Number">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success mt-3 me-5">Save</button>
                    <button type="button" class="btn btn-danger mt-3" routerLink="../">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
