<div class="row">
    <div class="col-12">
        <form [formGroup]="drinkForm" (ngSubmit)="onAddOrUpdateDrink()" novalidate>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" formControlName="name">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success mt-3 me-5">Save</button>
                    <button type="button" class="btn btn-danger mt-3" routerLink="../">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
