<div class="row">
    <div class="col-12">
        <p class="text-end mt-4">
            <button type="button" class="btn btn-primary" routerLink="add-new">Add New Person</button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of persons">
                <th scope="row">{{p.id}}</th>
                <td>{{p.firstName}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.phoneNumber}}</td>
                <td>
                    <button class="btn btn-link" (click)="goToParties(p)">View Parties</button> /
                    <button class="btn btn-link" (click)="goToAddParty(p)">Add Party</button> / 
                    <button class="btn btn-link" (click)="goToUpdatePerson(p)">Edit</button> /
                    <button class="btn btn-link" (click)="deletePerson(p)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>